@{
    ViewBag.Title = "Korsordshjälp.nu";
}
@functions{
    public string GetAntiForgeryToken()
    {
        string cookieToken, formToken;
        AntiForgery.GetTokens(null, out cookieToken, out formToken);
        return cookieToken + ":" + formToken;                
    }
}

<div class="jumbotron">
    <h1>Behöver du hjälp med korsordet?</h1>
    <p class="lead">Klicka på antalet bokstäver som ordet innehåller, fyll i de bokstäver du känner till och klicka på "Sök ord!" så får du förslag på ord som passar in. Inte svårare än så!</p>
    <p class="label label-danger" data-bind="text: error"></p>
    <div>
        <form data-bind="submit: search">
            <input id="antiForgeryToken" type="hidden" value="@GetAntiForgeryToken()" />
            <div class="form-group">
                <label>Antal bokstäver</label>
                <div data-bind="foreach: shortcuts" class="btn-group-sm"><a href="#" data-bind="click: select, text: num, css: { active: $root.numLetters() == num }" class="btn btn-default"></a></div>
            </div>

            <div class="form-group">
                <label>Kända bokstäver</label>
                <div class="patternInputWrapper">
                    <a href="#" class="glyphicon glyphicon-remove-circle clearPattern" data-bind="click: clearPattern" title="Rensa"></a>
                    <input data-bind="value: pattern, numLetterMask: numLetters()" class="form-control" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"/>
                </div>
            </div>
            
                <button class="btn btn-primary">Sök ord!</button>
        </form>

    </div>
</div>

<div data-bind="if: matches().length > 0, scrollTo: searched()">
    <div class="row" data-bind="foreach: matches">
        <div class="col-lg-6">
            <h4 data-bind="text: word"></h4>
            <p>
                <a data-bind="attr: { href: googleUrl }">Google</a><br/>
                <a data-bind="attr: { href: wikipediaUrl }">Wikipedia</a>
            </p>
        </div>
    </div>
    <div data-bind="whenVisible: loadMore, visible: hasMore"></div>
</div>
<div data-bind="if: matches().length == 0 && searched()" class="no-result">
    Hittade inga ord :(
    <br/><small>Korsordshjalp.nu innehåller de flesta vanliga Svenska ord, men många korsord är luriga och har lösningar som kanske inte riktigt följer Svenska språket. Du får improvisera!</small>
</div>

<div data-bind="if: previousPatterns().length > 0" class="previousPatterns">
    <h3>Tidigare sökningar</h3>
    <div class="row" data-bind="foreach: previousPatterns().reverse()">
        <a class="col-lg-3" data-bind="text: $data, click: $parent.selectPattern" href="#"></a>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/todo")
}
